<!DOCTYPE html>
<html lang="ko" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tm="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>[Plasma Sound] Admin Login</title>
</head>
<script src="/js/jquery-3.6.1.min.js"></script>
<style media="screen">
  * {
    padding: 0;
    margin: 0;
  }
</style>
<script>
  const page_id = '[[${page_id}]]';
  $(document).ready(function(){
    console.log('page_id : ' + page_id);
    $('#login-btn').on('click', function(){
      location.href = '/admin/main';
    });
  });
</script>

<body>
  <input type="text" placeholder="ID" id="login_id">
  <input type="password" placeholder="password" id="login_pw">
  <button id="login-btn">로그인</button>
</body>

</html>
