<!DOCTYPE html>
<html lang="ko" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tm="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
   <!-- 상태바 색상 / Chrome, Firefox, Opera -->
   <meta content='#191931' name='theme-color'>
   <!-- 상태바 색상 / Windows Phone -->
   <meta content='#191931' name='msapplication-navbutton-color'>
   <!-- 상태바 색상 / iOS Safari -->
   <meta content='#191931' name='apple-mobile-web-app-status-bar-style'>
   <meta content='yes' name='apple-mobile-web-app-capable'>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/common.css">
   <link rel="stylesheet" href="/css/main.css">
   <script src="/js/jquery-3.6.1.min.js"></script>
   <script src="/js/main.js" charset="utf-8"></script>
   <title>Plasma</title>
   <script>
      const page_id = '[[${page_id}]]';
      $(document).ready(function(){
         console.log('page_id : ' + page_id);
         $('#signup-btn').on('click', function (){
            console.log('sign-up');
            popupOpen();
         });

         $('#google-btn').on('click', function (){
            console.log('Continue with Gooble');
            popupOpen();
         });

         $('#apple-btn').on('click', function (){
            console.log('Continue with Apple');
            popupOpen();
         });

         $('#facebook-btn').on('click', function (){
            console.log('Continue with Facebook');
            popupOpen();
         });

         $('#login-btn').on('click', function (){
            console.log('Login');
            location.href = '/sign-in/login_email';
         });
      });
   </script>
</head>

<body class="sign-bg">
   <div class="logo-area">
      <h1><img src="/images/splash-logo.svg" alt="Plasma logo" class="splash-logo">
      <img src="/images/logo.svg" alt="Plasma logo" class="logo"></h1>
   </div>
   <div class="sign-ment">
      <p>Communicate with music,<br>convey your heart.</p>
   </div>
   <div class="sign-area">
      <button type="button" class="btn-main" id="signup-btn">Sign up</button>
      <button type="button" class="btn-line btn-google" id="google-btn">Continue with Google</button>
      <button type="button" class="btn-line btn-apple" id="apple-btn">Continue with Apple</button>
      <button type="button" class="btn-line btn-facebook" id="facebook-btn">Continue with Facebook</button>
      <button type="button" class="btn-text" id="login-btn">Log in</button>
   </div>

   <!--- popup ---------------------------------------->
   <section class="popup" id="popup">
      <div class="pop-top">
         <p class="pop-top-title">약관</p>
         <button type="button" class="btn-close">
            <img src="/images/close.svg" alt="닫기">
         </button>
      </div>
      <div class="pop-content" id="scrollEvent">
         <div class="pop-wrap">
            <p>1. 소개
               <br><br>
               본 이용 약관(이하** "약관**")은 당사의 모든 웹사이트와 본 약관에 통합되거나 연계되는 소프트웨어 애플리케이션 그리고 Plasma 서비스를 통해 제공되는 모든 음악, 비디오, 팟캐스트 또는 기타 자료(이하 "콘텐츠")를 비롯하여 음악 및 기타 콘텐츠를 스트리밍하기 위한 Plasma의 개인화된 서비스(총칭하여 "Plasma 서비스")를 사용(Plasma 서비스에 대한 액세스를 포함)하는 데 적용되므로 본 이용
               약관을 주의 깊게 읽으시기 바랍니다.
               <br><br>
               Plasma 서비스의 이용은 Plasma가 제시한 추가 이용 약관의 적용을 받을 수 있으며, 본 참조에 의해 본 이용 약관에 통합되어 있습니다.
               <br><br>
               Plasma 서비스에 가입하거나 다른 방식으로 이용함으로써 귀하는 이 약관에 동의하게 됩니다. 본 약관에 동의하지 않으면 Plasma 서비스를 사용하거나 콘텐츠에 액세스하지 말아야 합니다.
               <br><br>
               서비스 제공업체
               <br><br>
               본 약관은 귀하와 Plasma사이에 체결됩니다.
               <br><br>
               연령 및 자격 요건
               <br><br>
               Plasma 서비스를 이용하고 콘텐츠에 액세스하려면 (1) 13세(또는 거주 국가에서 이에 상당하는 최소 연령) 또는 그 이상이어야 하며 (2) 귀하가 거주 국가에서 미성년자에 해당하는 경우 부모 또는 보호자의 동의를 받아야 하며 (3) 당사와 구속력 있는 계약을 체결할 수 있는 권한이 있으며 관련 법률에 따라 당사와 계약을 체결하는 것이 금지되어 있지 않아야 하고 (4) 해당 서비스가 제공되는 국가에 거주하고
               있어야 합니다. 또한
            </p>
            <p>1. 소개
               <br><br>
               본 이용 약관(이하** "약관**")은 당사의 모든 웹사이트와 본 약관에 통합되거나 연계되는 소프트웨어 애플리케이션 그리고 Plasma 서비스를 통해 제공되는 모든 음악, 비디오, 팟캐스트 또는 기타 자료(이하 "콘텐츠")를 비롯하여 음악 및 기타 콘텐츠를 스트리밍하기 위한 Plasma의 개인화된 서비스(총칭하여 "Plasma 서비스")를 사용(Plasma 서비스에 대한 액세스를 포함)하는 데 적용되므로 본 이용
               약관을 주의 깊게 읽으시기 바랍니다.
               <br><br>
               Plasma 서비스의 이용은 Plasma가 제시한 추가 이용 약관의 적용을 받을 수 있으며, 본 참조에 의해 본 이용 약관에 통합되어 있습니다.
               <br><br>
               Plasma 서비스에 가입하거나 다른 방식으로 이용함으로써 귀하는 이 약관에 동의하게 됩니다. 본 약관에 동의하지 않으면 Plasma 서비스를 사용하거나 콘텐츠에 액세스하지 말아야 합니다.
               <br><br>
               서비스 제공업체
               <br><br>
               본 약관은 귀하와 Plasma사이에 체결됩니다.
               <br><br>
               연령 및 자격 요건
               <br><br>
               Plasma 서비스를 이용하고 콘텐츠에 액세스하려면 (1) 13세(또는 거주 국가에서 이에 상당하는 최소 연령) 또는 그 이상이어야 하며 (2) 귀하가 거주 국가에서 미성년자에 해당하는 경우 부모 또는 보호자의 동의를 받아야 하며 (3) 당사와 구속력 있는 계약을 체결할 수 있는 권한이 있으며 관련 법률에 따라 당사와 계약을 체결하는 것이 금지되어 있지 않아야 하고 (4) 해당 서비스가 제공되는 국가에 거주하고
               있어야 합니다. 또한
            </p>
            <br><br>
         </div>
      </div>
      <div class="pop-btn-area">
         <div class="pop-opacity"></div>
         <div class="pop-wrap">
            <button type="button" class="btn-main"  onclick="popupClose()">AGREE</button>
            <button type="button" class="btn-text" onclick="popupClose()">CANCEL</button>
         </div>
      </div>
   </section>
   <!--- //popup ---------------------------------------->
</body>

</html>
