<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <!-- 상태바 색상 / Chrome, Firefox, Opera -->
  <meta content='#121212' name='theme-color'>
  <!-- 상태바 색상 / Windows Phone -->
  <meta content='#121212' name='msapplication-navbutton-color'>
  <!-- 상태바 색상 / iOS Safari -->
  <meta content='#121212' name='apple-mobile-web-app-status-bar-style'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <title>Plasma</title>
</head>

<body>
  <div class="search-top-area">
    <div class="search-area">
      <input type="search" placeholder="Search">
      <button type="button" class="btn-search"></button>
    </div>
    <div class="cancel-area">
      <button type="button" class="btn-cancel">Cancel</button>
    </div>
  </div>

<section class="wrap-14 menu-bottom">
  <!--track box-->
  <div class="detail-music-box d-flex-between mb8">
    <div class="d-flex-center">
      <div class="music-track"><img src="images/cover_1.jpg" alt="앨범 표지 이미지"></div>
      <div class="pl12">
        <h4 class="f15 fw400">Fire in the hole</h4>
        <span class="c-w50 f12">Flames</span>
      </div>
    </div>
    <button type="button" class="btn-more"></button>
  </div>
  <!--//track box-->
  <!--track box-->
  <div class="detail-music-box d-flex-between mb8">
    <div class="d-flex-center">
      <div class="music-track"><img src="images/cover_1.jpg" alt="앨범 표지 이미지"></div>
      <div class="pl12">
        <h4 class="f15 fw400">Fire in the hole</h4>
        <span class="c-w50 f12">Flames</span>
      </div>
    </div>
    <button type="button" class="btn-more"></button>
  </div>
  <!--//track box-->
  <!--track box-->
  <div class="detail-music-box d-flex-between mb8 active">
    <div class="d-flex-center">
      <div class="music-track"><img src="images/cover_1.jpg" alt="앨범 표지 이미지"></div>
      <div class="pl12">
        <h4 class="f15 fw400">Fire in the hole</h4>
        <span class="c-w50 f12">Flames</span>
      </div>
    </div>
    <button type="button" class="btn-more"></button>
  </div>
  <!--//track box-->
  <!--track box-->
  <div class="detail-music-box d-flex-between mb8">
    <div class="d-flex-center">
      <div class="music-track"><img src="images/cover_1.jpg" alt="앨범 표지 이미지"></div>
      <div class="pl12">
        <h4 class="f15 fw400">Fire in the hole</h4>
        <span class="c-w50 f12">Flames</span>
      </div>
    </div>
    <button type="button" class="btn-more"></button>
  </div>
  <!--//track box-->
</section>

<div class="btn-bottom-fix">
  <button type="button" class="btn-main">ADD</button>
  </div>




</body>

</html>
