<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
   <!-- 상태바 색상 / Chrome, Firefox, Opera -->
   <meta content='#121212' name='theme-color'>
   <!-- 상태바 색상 / Windows Phone -->
   <meta content='#121212' name='msapplication-navbutton-color'>
   <!-- 상태바 색상 / iOS Safari -->
   <meta content='#121212' name='apple-mobile-web-app-status-bar-style'>
   <meta content='yes' name='apple-mobile-web-app-capable'>
   <link rel="stylesheet" href="css/common.css">
   <link rel="stylesheet" href="css/main.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="js/main.js" charset="utf-8"></script>
   <title>Plasma</title>
</head>

<body>
   <header class="header">
      <h2 class="top-title">Alarm</h2>
      <button type="button" class="btn-prev">
         <img src="images/prev.svg" alt="뒤로버 튼">
      </button>

   </header>

   <div class="menu-wrap">
      <section class="wrap-14">
         <ul class="alarm-area">
            <li>
               <div class="alarm-info">
                  <div class="alarm-user-img">
                     <img src="images/min-user.jpg" alt="프로필 사진">
                  </div>
                  <span class="alarm-id">vicious</span>
                  <p class="alarm-text">likes this new track.</p>
                  <div class="alarm-time">19min</div>
               </div>
               <!--track box-->
               <div class="detail-music-box d-flex-between mt6">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
               <!--//track box-->
            </li>
            <li>
               <div class="alarm-info">
                  <div class="alarm-user-img">
                     <img src="images/min-user.jpg" alt="프로필 사진">
                  </div>
                  <span class="alarm-id">vicious</span>
                  <p class="alarm-text">likes this new track.</p>
                  <div class="alarm-time">29min</div>
               </div>
               <!--track box-->
               <div class="detail-music-box d-flex-between mt6">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
               <!--//track box-->
            </li>
            <li>
               <div class="alarm-info">
                  <div class="alarm-user-img">
                     <img src="images/min-user.jpg" alt="프로필 사진">
                  </div>
                  <span class="alarm-id">vicious</span>
                  <p class="alarm-text">likes this new track.</p>
                  <div class="alarm-time">47min</div>
               </div>
               <!--track box-->
               <div class="detail-music-box mt6">
                  <div class="d-flex-center" >
                     <div class="music-track"><img src="images/tag.svg" alt="앨범 표지 이미지" class="hashtag-img"></div>
                     <ul class="from-to-area">
                       <li class="pl12">
                          <p class="c-w50 f12">from</p>
                          <span>#overwork</span>
                       </li>
                       <li>
                          <p class="c-w50 f12">to</p>
                          <span>#max_rage</span>
                       </li>
                     </ul>
                  </div>
               </div>
               <!--//track box-->
            </li>
            <li>
               <div class="alarm-info">
                  <div class="alarm-user-img">
                     <img src="images/min-user.jpg" alt="프로필 사진">
                  </div>
                  <span class="alarm-id">vicious</span>
                  <p class="alarm-text">likes this new track.</p>
                  <div class="alarm-time">49min</div>
               </div>
            </li>
            <li>
               <div class="alarm-info">
                  <div class="alarm-user-img">
                     <img src="images/min-user.jpg" alt="프로필 사진">
                  </div>
                  <span class="alarm-id">vicious</span>
                  <p class="alarm-text">likes this new track.</p>
                  <div class="alarm-time">55min</div>
               </div>
            </li>
         </ul>
      </section>
   </div>

   <nav class="nav">
      <ul class="nav-list">
         <li class="menu-feed"></li>
         <li class="menu-search"></li>
         <li class="menu-notify active"></li>
         <li class="menu-myhome"></li>
      </ul>
   </nav>
</body>

</html>
