<!DOCTYPE html>
<html lang="ko" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tm="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>[plasma] publishing list</title>
</head>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
-->
<script src="js/jquery-3.6.1.min.js"></script>
<style media="screen">
  * {
    padding: 0;
    margin: 0;
  }

  .content-btn {
    margin-left: 20px;
  }

  table {
    width: 800px;
    text-align: center;
  }

  table thead {
    text-align: center;
    background: #ddd;
  }

  table thead,
  table tr {
    border-bottom: 1px solid #ddd;
  }
  table td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  table td,
  table th {
    padding: 5px 10px;
  }
</style>
<script>
  const page_id = '[[${page_id}]]';
  $(document).ready(function(){
    console.log('page_id : ' + page_id);

    $('#user-list-btn').on('click', function () {
      console.log('users');
      $.ajax({
        url: '/users/'
        , type: 'GET'
        , data: {}
        , contentType: 'application/json; charset=UTF-8'
        , success: function (data) {
          console.log(data);
          $('#result').html(JSON.stringify(data));
        }
        , error: function (req, status, error) {
          console.log(req + status + error);
        }
      });
    });

    $('#check-email-btn').on('click', function () {
      console.log('check email');
      $.ajax({
        url: '/sign-in/check-email-dup'
        , type: 'POST'
        , data: JSON.stringify({ email : $('#email').val() })
        , contentType: 'application/json; charset=UTF-8'
        , success: function (data) {
          console.log(data);
          $('#result').html(JSON.stringify(data));
        }
        , error: function (req, status, error) {
          console.log(req + status + error);
        }
      });
    });
  });
</script>

<body>
  <table>
    <thead>
      <th>순번</th>
      <th>내용</th>
      <th>실행</th>
    </thead>
    <tr>
      <th>1</th>
      <th>로그인</th>
      <th><button id="login-btn">Login</button></th>
    </tr>
    <tr>
      <th>2</th>
      <th>사용자 목록</th>
      <th><button id="user-list-btn">Users</button></th>
    </tr>
    <tr>
      <th>3</th>
      <th>이메일중복체크</th>
      <th><button id="check-email-btn">이메일중복</button>
          <input type="text" id="email">
      </th>
    </tr>
  </table>

  <div id="result" style="border:1px solid gray;margin:5px;min-height:100px;">

  </div>

</body>

</html>
