<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <!-- 상태바 색상 / Chrome, Firefox, Opera -->
  <meta content='#121212' name='theme-color'>
  <!-- 상태바 색상 / Windows Phone -->
  <meta content='#121212' name='msapplication-navbutton-color'>
  <!-- 상태바 색상 / iOS Safari -->
  <meta content='#121212' name='apple-mobile-web-app-status-bar-style'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <title>Plasma</title>
</head>

<body>
  <header class="header">
    <h2 class="top-title">Edit profile</h2>
    <button type="button" class="btn-close-pop"><img src="images/close.svg" alt="닫기버튼"></button>
    <button type="button" class="btn-check"><img src="images/check.svg" alt="확인"></button>
  </header>


  <div class="menu-top">

      <div class="detail-profile-box">
        <img src="images/cat.jpg" alt="프로필 이미지">
        <div class="edit-profile-box">
          <img src="images/camera.svg" alt="new playlist cover image" class="new-camera">
        </div>
      </div>
      <form>
        <div class="position-re pt10">
          <p class="f12 c-w50 pl14">Nickname</p>
          <input type="text" class="edit-nickname" value="goldjujube" placeholder="Nickname">
        <div class="wrap-14">
          <p class="f12 c-w50 pb10">Comment</p>
          <div contentEditable="true" class="post-box" placeholder="write a comment">I'm going to go to work today, and I'm going
            to blow up my boss, so please recommend
            me some songs that can recharge my energy.</div>
          <div class="typing">59/120</div>
        </div>

        </div>
      </form>


    <section>
      <div class="tag-select-area">
        <div class="tag-start"><img src="images/tag-c.svg" alt="태그추가 영역표시"></div>
        <button type="button" class="btn-add-hashtag" onclick="popupOpen();">+Add hashtags</button>
        <span class="add-hashtag choose">#tired <button type="button" class="remove-hashtag"></button></span>
      </div>
    </section>

    <!--- hashtag popup ---------------------------------------->
    <section class="popup" id="popup">
      <div class="pop-top">
        <p class="pop-top-title-s">Add tags</p>
        <button type="button" class="btn-done c-">Done</button>

      </div>
      <div class="pop-content-small">
        <div class="pop-wrap pt0">
          <div class="d-flex">
            <div class="tag-start"><img src="images/tag-c.svg" alt="태그추가 영역표시"></div>
            <div class="hashtag-box" contentEditable="true" placeholder="Add a tags..."></div>
          </div>

          <div class="d-flex pt20">
            <span class="add-hashtag">#after</span>
            <span class="add-hashtag">#afterward</span>
          </div>
        </div>
      </div>
    </section>
    <div class="pop-bg" id="popup-bg">
      <!--- //popup ---------------------------------------->
</body>

</html>
