<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
   <!-- 상태바 색상 / Chrome, Firefox, Opera -->
   <meta content='#121212' name='theme-color'>
   <!-- 상태바 색상 / Windows Phone -->
   <meta content='#121212' name='msapplication-navbutton-color'>
   <!-- 상태바 색상 / iOS Safari -->
   <meta content='#121212' name='apple-mobile-web-app-status-bar-style'>
   <meta content='yes' name='apple-mobile-web-app-capable'>
   <link rel="stylesheet" href="css/common.css">
   <link rel="stylesheet" href="css/main.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="js/main.js" charset="utf-8"></script>
   <title>Plasma</title>
</head>

<body class="spotify-area">
 <header class="header bgnone">
<button type="button" class="btn-prev">
   <img src="images/prev.svg" alt="뒤로버튼">
</button>
   <h2 class="top-title">Enjoy your Music</h2>
 </header>
 <div class="connect-area">
   <div class="connect-logo">
     <img src="images/spotify_logo.svg" alt="spotify logo">
     <img src="images/close.svg" alt="connect">
     <img src="images/logo_w.png" alt="Plasma logo" style="width:52px">
   </div>
   <div class="connect-text">
     <h3>Connect your Spotify</h3>
     <p>Connect to Spotify for convenient access to music selection, play, search, and recommendations.</p>
   </div>
 </div>

  <div class="btn-bottom-fix">
    <!-- connecte 일 때 -->
    <!-- <button type="button"  class="btn-spotify disconnect">DISCONNECT</button> -->

  <!-- not connecte 일 때 -->
  <button type="button"  class="btn-spotify">CONNECT SPOTIFY</button>
  <button type="button"  class="btn-text">SKIP</button>
  </div>
</body>

</html>
