<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <!-- 상태바 색상 / Chrome, Firefox, Opera -->
  <meta content='#191931' name='theme-color'>
  <!-- 상태바 색상 / Windows Phone -->
  <meta content='#191931' name='msapplication-navbutton-color'>
  <!-- 상태바 색상 / iOS Safari -->
  <meta content='#191931' name='apple-mobile-web-app-status-bar-style'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <title>Plasma</title>
</head>

<body>
  <!--class="popup"에서 style="bottom:0% 삭제"-->
  <!--- popup ---------------------------------------->
  <section class="popup" style="bottom:0%">
    <div class="Social-login-popup">
      <div class="s-pop-top">
        <h4>Social login popup</h4>
        <button type="button" class="btn-close-pop"><img src="images/close.svg" alt="닫기버튼"></button>
      </div>
      <div class="pop-content-full">
        <div class="pop-wrap">
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
          내용내용<br><br>
        </div>
      </div>
    </div>
  </section>
  <!--- //popup ---------------------------------------->
</body>

</html>
