<!DOCTYPE html>
<html lang="ko" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tm="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
   <!-- 상태바 색상 / Chrome, Firefox, Opera -->
   <meta content='#121212' name='theme-color'>
   <!-- 상태바 색상 / Windows Phone -->
   <meta content='#121212' name='msapplication-navbutton-color'>
   <!-- 상태바 색상 / iOS Safari -->
   <meta content='#121212' name='apple-mobile-web-app-status-bar-style'>
   <meta content='yes' name='apple-mobile-web-app-capable'>
   <link rel="stylesheet" href="/css/common.css">
   <link rel="stylesheet" href="/css/main.css">
   <script src="/js/jquery-3.6.1.min.js"></script>
   <script src="/js/main.js" charset="utf-8"></script>
   <title>Plasma</title>
   <script>
      const page_id = '[[${page_id}]]';
      $(document).ready(function(){
         console.log('page_id : ' + page_id);
         $('#prev-btn').on('click', function(){
            location.href = '/feed/feed';
         });

      });
   </script>
</head>
<!-- 스크롤할때 header에 배경 없앨 경우 class="header-color" 삭제하세요 -->

<body class="detail-bg">
   <header class="header bgnone header-color">
      <h2 class="top-title">Detail</h2>
      <button type="button" class="btn-prev" id="prev-btn">
         <img src="/images/prev.svg" alt="뒤로버튼">
      </button>
   </header>

   <div class="menu-top">
      <section class="wrap-14 t-center">
         <div class="detail-cover-box">
           <!-- 이미지 1장 이상일때 -->
            <div class="small-cover-box">
               <img src="/images/cover_3.jpg" alt="앨범 커버 이미지">
            </div>
            <div class="small-cover-box">
               <img src="/images/cover_4.jpg" alt="앨범 커버 이미지">
            </div>
            <div class="small-cover-box">
               <img src="/images/cover_5.jpg" alt="앨범 커버 이미지">
            </div>
            <div class="small-cover-box">
               <img src="/images/cover_6.jpg" alt="앨범 커버 이미지">
            </div>
            <!-- // 이미지 1장 이상 일 때 -->

           <!-- <img src="/images/cover_3.jpg" alt="앨범 커버 이미지"> 이미지 1장 일 때 -->
         </div>
         <h3 class="detail-cover-tit">Midnight drive</h3>
         <div class="d-flex-con-center">
            <div class="xsmall-user-img">
               <img src="/images/user_3.jpg" alt="프로필 이미지">
            </div>
            <span class="pl6">fireman</span>
         </div>
         <p class="detail-text-area pt6">“ If you play this playlist, you are already dead. Would you like to give it a try though? “</p>
         <div class="user-content-tag">
            <span>#sad</span><span>#midnight</span><span>#drive</span>
         </div>
         <div class="pt15 clear">
            <button type="button" class="btn-detail-play left"><span>PLAY</span></button>
            <button type="button" class="btn-detail-addList right"><span>ADD PLAYLIST</span></button>
         </div>
      </section>

      <section>
         <div class="detail-content-area">
            <button type="button" class="btn-detail-like">221</button>
            <button type="button" class="btn-detail-track">Add tracklist</button>
            <button type="button" class="btn-detail-share">Share</button>
            <button type="button" class="btn-detail-more">More</button>
         </div>
      </section>

      <section class="wrap-14">
         <div class="mb8">
            <span class="user-track">41tracks</span>
            <span class="user-track-time">1:54:55</span>
         </div>
         <dl>
            <dt>
               <div class="detail-music-box d-flex-between mb8">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
               <!--//track box-->

               <div class="detail-music-box d-flex-between mb8">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
               <!--//track box-->
               <div class="detail-music-box d-flex-between mb8">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
               <!--//track box-->
               <div class="detail-music-box d-flex-between mb8">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
            </dt>
         </dl>
      </section>
   </div>

</body>

</html>
