<!DOCTYPE html>
<html lang="ko" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tm="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
   <!-- 상태바 색상 / Chrome, Firefox, Opera -->
   <meta content='#121212' name='theme-color'>
   <!-- 상태바 색상 / Windows Phone -->
   <meta content='#121212' name='msapplication-navbutton-color'>
   <!-- 상태바 색상 / iOS Safari -->
   <meta content='#121212' name='apple-mobile-web-app-status-bar-style'>
   <meta content='yes' name='apple-mobile-web-app-capable'>
   <link rel="stylesheet" href="/css/common.css">
   <link rel="stylesheet" href="/css/main.css">
   <script src="/js/jquery-3.6.1.min.js"></script>
   <script src="/js/main.js" charset="utf-8"></script>
   <title>Plasma</title>
   <script>
      const page_id = '[[${page_id}]]';
      $(document).ready(function(){
         console.log('page_id : ' + page_id);
         $('#prev-btn').on('click',function(){
            location.href = '/feed/feed';
         });

         $('#menu-btn').on('click', function(){
            popupOpen2();
         });
      });
   </script>
</head>

<body>
   <header class="header">
      <h2 class="top-title">Detail</h2>
      <button type="button" class="btn-prev" id="prev-btn">
         <img src="/images/prev.svg" alt="뒤로버튼">
      </button>
      <button type="button" class="btn-menu" id="menu-btn">
         <img src="/images/menu.svg" alt="추가버튼">
      </button>
   </header>

   <div class="menu-wrap">
      <ul class="feed-area">
         <li>
            <div class="user-area clear">
               <div class="user-title">
                  <div class="user-profile">
                     <img src="/images/cat.jpg" alt="프로필 사진">
                  </div>
                  <div class="user-text">
                     <p class="user-id">goldjujube</p>
                     <span class="user-title-tag">#tired</span>
                  </div>
               </div>
               <div class="user-time">4h</div>
            </div>
            <!--//user-area-->
            <div class="detail-content">
               <p class="detail-text">I'm going to go to work today, and I'm going to
                  blow up my boss, so please recommend me
                  some songs that can recharge my energy.</p>
            <!--post text+img detail -->
                <div class="img-box">
                  <img src="/images/img_1.jpg" alt="사진">
                </div>
            <!--//post text+img detail-->
               <div class="user-content-tag position-re">
                  <span>#sad</span><span>#midnight</span><span>#drive</span>
                  <div class="user-like active">128</div>
               </div>
            </div>
            <!--//user-content-->
         </li>
         <!--//content-->
      </ul><!-- //class="feed-area"-->
      <section class="wrap-14">
         <div class="d-flex-between">
            <div>
               <span class="user-track">41tracks</span>
               <span class="user-track-time">1:54:55</span>
            </div>
            <div class="d-flex-center">
               <button type="button" class="btn-play"></button>
               <button type="button" class="btn-download"></button>
               <button type="button" class="btn-view"></button>
            </div>
         </div>

         <dl>
            <dt class="pt15">
               <div class="d-flex-between pb6">
                  <div class="d-flex-center">
                     <div class="min-user-img">
                        <img src="/images/min-user.jpg" alt="프로필 사진">
                     </div>
                     <div class="pl6 f15">vicious</div>
                  </div>
                  <div class="d-flex-center">
                     <button type="button" class="btn-reply">Reply</button>
                     <span class="f12 c-w50">3hour</span>
                  </div>
               </div>
             <!--track box-->
               <div class="detail-music-box d-flex-between">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
             <!--//track box-->
            </dt>

            <dd>
               <div class="reply-wrap">
                  <div class="d-flex-between pb6">
                     <div class="d-flex-center">
                        <div class="min-user-img">
                           <img src="/images/min-user.jpg" alt="프로필 사진">
                        </div>
                        <div class="pl6 f15">vicious</div>
                     </div>
                     <span class="f12 c-w50">2hour</span>
                  </div>
                  <p>I'm going to go to work today, and I'm going to blow up my boss, so please recommend me some songs that can recharge my energy. <span class="c-blue">#energy #fire #power</span></p>
               </div>
            </dd>
            <!--댓글-->

            <dd>
               <div class="reply-wrap">
                  <div class="d-flex-between pb6">
                     <div class="d-flex-center">
                        <div class="min-user-img">
                           <img src="/images/cat_2.jpg" alt="프로필 사진">
                        </div>
                        <div class="pl6 f15">sailormoon</div>
                     </div>
                     <span class="f12 c-w50">3hour</span>
                  </div>
                  <p>orem ipsum dolor sit amet, consectetur scing elit. In sagittis bibendum felis, fringilla vehicula mi. <span class="c-blue">#ipsum</span></p>
               </div>
            </dd>
            <!--댓글-->

            <dd>
               <div class="reply-wrap">
                  <div class="d-flex-between pb6">
                     <div class="d-flex-center">
                        <div class="min-user-img">
                           <img src="/images/cat.jpg" alt="프로필 사진">
                        </div>
                        <div class="pl6 f15">goldjujube</div>
                     </div>
                     <span class="f12 c-w50">2hour</span>
                  </div>
                  <p><span>@vicious</span> that’s awesome!! <span class="c-blue">#cool</span></p>
               </div>
            </dd>
            <!--댓글-->
         </dl>

         <dl>
            <dt class="pt15">
               <div class="d-flex-between pb6">
                  <div class="d-flex-center">
                     <div class="min-user-img">
                        <img src="/images/min-user.jpg" alt="프로필 사진">
                     </div>
                     <div class="pl6 f15">vicious</div>
                  </div>
                  <div class="d-flex-center">
                     <button type="button" class="btn-reply">Reply</button>
                     <span class="f12 c-w50">3hour</span>
                  </div>
               </div>
               <div class="detail-music-box d-flex-between">
                  <div class="d-flex-center">
                     <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
                     <div class="pl12">
                        <h4 class="f15 fw400">Fire in the hole</h4>
                        <span class="c-w50 f12">Flames</span>
                     </div>
                  </div>
                  <button type="button" class="btn-more"></button>
               </div>
            </dt>
            <dd>
               <div class="reply-wrap">
                  <div class="d-flex-between pb6">
                     <div class="d-flex-center">
                        <div class="min-user-img">
                           <img src="/images/min-user.jpg" alt="프로필 사진">
                        </div>
                        <div class="pl6 f15">vicious</div>
                     </div>
                     <span class="f12 c-w50">2hour</span>
                  </div>
                  <p>I'm going to go to work today, and I'm going to blow up my boss, so please recommend me some songs that can recharge my energy. <span class="c-blue">#energy #fire #power</span></p>
               </div>
            </dd>
            <dd>
               <div class="reply-wrap">
                  <div class="d-flex-between pb6">
                     <div class="d-flex-center">
                        <div class="min-user-img">
                           <img src="/images/cat_2.jpg" alt="프로필 사진">
                        </div>
                        <div class="pl6 f15">sailormoon</div>
                     </div>
                     <span class="f12 c-w50">3hour</span>
                  </div>
                  <p>orem ipsum dolor sit amet, consectetur scing elit. In sagittis bibendum felis, fringilla vehicula mi. <span class="c-blue">#ipsum</span></p>
               </div>
            </dd>
         </dl>
      </section>
   </div>

   <div class="message">
     <p class="c-w50">Replying to ‘Fire in the hole’</p>
     <div class="position-re">
       <button type="button" class="btn-message-close"></button>
     </div>

   </div>

    <div class="reply-area">
      <div class="d-flex-between d-flex-center">
        <div class="reply-user-profile">
           <img src="/images/cat.jpg" alt="프로필 사진">
        </div>
        <input type="text" placeholder="Recommend a your song" class="input-reply">
      </div>
    </div>

   <!--- track more popup ---------------------------------------->
   <section class="popup" id="popup-2">
      <div class="pop-top">
         <!--//track box-->
         <div class="d-flex-center t-left">
            <div class="music-track"><img src="/images/cover_1.jpg" alt="앨범 표지 이미지"></div>
            <div class="pl12">
               <h4 class="f15 fw400">Fire in the hole</h4>
               <span class="c-w50 f12">Flames</span>
            </div>
         </div>
         <!--//track box-->
      </div>
      <button type="button" class="btn-close">
         <img src="/images/close.svg" alt="닫기">
      </button>
      </div>
      <div class="pop-content">
         <div>
            <ul class="more-list">
               <li class="more-play">Play</li>
               <li class="more-like">Like</li>
               <li class="more-playlist">Add to playlist</li>
               <li class="more-tracklist">Add to tracklist</li>
               <li class="more-share">Share</li>
            </ul>
         </div>
      </div>
   </section>
   <div class="pop-bg" id="popup-bg-2">
      <!--- //popup ---------------------------------------->

</body>

</html>
